<div id="results_container">
  <% @imslp_results.each_with_index do |result,result_index| %>
      <% title = result[0] %>
      <% subresults = result[1] %>
      <h3><%= title %></h3>
      <ul class="nav nav-tabs">
        <% result[1].each_with_index do |tab,tab_index| %>
            <% if(tab_index==0) %>
                <li class="active">
            <% else %>
                <li>
            <% end %>
            <a data-toggle="tab" href="#tab<%= "_" + result_index.to_s + "_" + tab_index.to_s %>"><%= tab[0] %></a>
            </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% subresults.each_with_index do |tab,tab_index| %>
            <div id="tab<%= "_" + result_index.to_s + "_" + tab_index.to_s %>" class="tab-pane fade <%= (tab_index==0) ? "in active" : "in" %>">
              <% edition_groups = tab[1] %>
              <% edition_groups.each do |edition_group| %>
                  <% edition_group.each do |info_and_links| %>
                      <% info_arrays = info_and_links[0] %>
                      <% links_array = info_and_links[1] %>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="text-center"><h4><strong><%= info_arrays[0][0] %>:</strong> <%= info_arrays[0][1] %></h4></div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                              <strong>Download:</strong>
                              <% links_array.each do |link| %>
                                <%= link_to(("<i class='fa fa-arrow-down' aria-hidden='true'></i>").html_safe + link[0].text + " (" + link[1] + ")" , {:controller => "score", :action => "get_pdf", :pdf_url => "http://imslp.org" + link[0]['href'] }, :class => 'btn btn-primary btn-spacing btn-limit', :style => 'margin-bottom:4px; word-wrap:break-word;')%>
                              <% end %>
                            </li>

                            <% info_arrays.each_with_index do |info,index| %>
                              <% if(index!=0) %>
                                <% category = info[0] %>
                                <% content = info[1] %>
                                <li class="list-group-item"><strong><%= category + ": " %></strong><%= content %></li>
                              <% end %>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
