<div class="form-group">
  <div class="input-group">
    <input type="text" name="search" id="search" autofocus="autofocus" class="form-control" placeholder="Search for scores...">
        <span class="input-group-btn">
          <input type="submit" name="commit" value="Search" class="btn btn-default" placeholder="Search for scores...">
        </span>
  </div>
</div>