<div class="col-md-2"></div>
<div class="col-md-8">
  <h1 class="text-center">IMSLP Express</h1>
  <h2 class="text-center"><i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom" id="spinner"></i></h2>
  <%= form_tag('score/index', remote:true) do %>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= render partial: 'search' %>
        </div>
        <div class="col-md-3"></div>
      </div>
      <%= render partial: 'results' %>
  <% end %>
</div>
<div class="col-md-2"></div>
<% javascript_include_tag 'nprogress.js' %>
<% stylesheet_link_tag 'nprogress.css' %>


